<div class="well text-center">
    <h3>{_privatbankar.component.confirmation_pending.title}</h3>
    <div id="ipn-confirmation">
        <img id="ipn-confirmation-spinner" src="{$basePath}/layouts/default/images/spinner.gif" />
    </div>
</div>