config:
    source:
        name: Privatbankar Source
        description: "A forrást a Privatbankar Gateway biztosítja. Ez azonosítja az átirányítások beállításait, illetve kereskedői információkat. (pl. <code>pp_subscription</code>)"
    mode:
        name: Privatbankar Mode
        description: "Jelölje meg, hogy éles vagy teszt (sandbox) gateway-t akar-e használni. (A <code>live</code> az éles, egyébként teszt)"

component:
    confirmation_pending:
        title: "Megerősítés folyamatban, kérjük várjon."
